body.single-vehicle {
    background: #000;
    color: #fff;
    margin-top: 85px;

    article {
        padding: 0 2rem;
    }

    .entry-header {
        text-align: center;
        border-bottom: 1px solid #fff;
    }

    .entry-content {
        padding: 0 2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 100;
        color: #ababab;
    }

    .gallery {

        &-content {
            padding: 2rem;
        }
        
        &-grid {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        &-image-wrapper {
            flex: 1 0 100%;
            padding: 5px 0;

            img {
                width: 100%;
            }
        }
    }

}
