html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

a {
	outline: none;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";

.line {
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap; 
}

.line > span {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
	font-weight: 300;
}

.line > span b {
	font-weight: 700;
}

.line > span:before,
.line > span:after {
	content: "";
	position: absolute;
	top: 45%;
	width: 9999px;
	height: 2px;
	background: #404040;
}

.line > span:before {
	right: 100%;
	margin-right: 15px;
}

.line > span:after {
	left: 100%;
	margin-left: 15px;
}

@import "titles";