
#images {
	margin-top: -3rem;
	position: relative;
	background-image: url(http://savini.local/app/uploads/2019/02/wd-nsx.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	&::before {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		background: linear-gradient(to left, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
	}

	.image-gallery--wrapper {

		padding: 3rem;
		margin: 2rem 0;

		.image-gallery--container {
			@media (max-width: 1224px) {
				width: 60%;
			}

			@media (max-width: 1064px) {
				width: 65%;
			}

			@media (max-width: 969px) {
				width: 75%;
			}

			@media (max-width: 876px) {
				width: 100%;
			}
		}

		.image-gallery--title {

			color: #fff;
			font-size: 16px;
			letter-spacing: 3px;
			text-transform: uppercase;
			position: relative;

			h4 {
				font-weight: 100;

				span {
					font-weight: 700;
				}
			}
	
		}

		.image-gallery {

			position: relative;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			max-width: auto;
			margin: auto;

			.image-gallery--item {
				display: flex;
				justify-content: center;
				flex: 1;
				flex-basis: 40%;
				margin: 1rem;
				cursor: pointer;

				@media (max-width: 666px) {
					flex-basis: 100%;
					margin: 1rem;
				}

				a {
					height: 160px;
					width: 250px;
					overflow: hidden;
					display: flex;
					position: relative;
					border-radius: 3px;
					box-shadow: 0 5px 30px rgba(255,255,255,0.3);

					&::before {
						content: '';
						position: absolute;
						z-index: 9;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						background: rgba(255, 255, 255, 0.3);
					}

					&:hover {

						img {
							transform: scale(1.2);
						}
					}

					img {
						height: 100%;
						width: 100%;
						transition: transform 1s;
					}
				}
			}
		}

		.image-gallery--view_more {
			
			a {
				color: #fff;
				position: relative;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 100;
				padding: 1rem 2rem;
				background: red;
				border-radius: 2px;
				border: 2px solid red;
				transition: background .5s, color .5s;

				&:hover {
					background: transparent;
					border: 2px solid red;
					color: red;
				}
			}
		}

	}

}

.image-gallery--item__1 {
	margin-top: -17.4vw; }
.image-gallery--item__2 {
	margin-top: -9.5vw; }
	.body--mobile .image-gallery--item__2 {
		-webkit-transform: translateX(15%) translateY(15%);
		-moz-transform: translateX(15%) translateY(15%);
		-ms-transform: translateX(15%) translateY(15%);
		-o-transform: translateX(15%) translateY(15%);
		transform: translateX(15%) translateY(15%);
		-webkit-transition-delay: 0.2s;
		-moz-transition-delay: 0.2s;
		-o-transition-delay: 0.2s;
		transition-delay: 0.2s; }
		@media (max-width: 500px) {
			.body--mobile .image-gallery--item__2 {
				-webkit-transition-delay: 0s;
				-moz-transition-delay: 0s;
				-o-transition-delay: 0s;
				transition-delay: 0s;
				-webkit-transform: translateX(10%) translateY(10%);
				-moz-transform: translateX(10%) translateY(10%);
				-ms-transform: translateX(10%) translateY(10%);
				-o-transform: translateX(10%) translateY(10%);
				transform: translateX(10%) translateY(10%); } }
.image-gallery--item__4 {
	margin-top: -17.4vw; }
	.body--mobile .image-gallery--item__4 {
		-webkit-transform: translateX(15%) translateY(15%);
		-moz-transform: translateX(15%) translateY(15%);
		-ms-transform: translateX(15%) translateY(15%);
		-o-transform: translateX(15%) translateY(15%);
		transform: translateX(15%) translateY(15%);
		-webkit-transition-delay: 0.2s;
		-moz-transition-delay: 0.2s;
		-o-transition-delay: 0.2s;
		transition-delay: 0.2s; }
		@media (max-width: 500px) {
			.image-gallery--item__4 {
				-webkit-transition-delay: 0s;
				-moz-transition-delay: 0s;
				-o-transition-delay: 0s;
				transition-delay: 0s;
				-webkit-transform: translateX(10%) translateY(10%);
				-moz-transform: translateX(10%) translateY(10%);
				-ms-transform: translateX(10%) translateY(10%);
				-o-transform: translateX(10%) translateY(10%);
				transform: translateX(10%) translateY(10%); } }
.image-gallery--item__5 {
	margin-top: -9.5vw; }
.body--mobile .image-gallery--item__6 {
	-webkit-transform: translateX(15%) translateY(15%);
	-moz-transform: translateX(15%) translateY(15%);
	-ms-transform: translateX(15%) translateY(15%);
	-o-transform: translateX(15%) translateY(15%);
	transform: translateX(15%) translateY(15%);
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s; }
	@media (max-width: 500px) {
		.body--mobile .image-gallery--item__6 {
			-webkit-transition-delay: 0s;
			-moz-transition-delay: 0s;
			-o-transition-delay: 0s;
			transition-delay: 0s;
			-webkit-transform: translateX(10%) translateY(10%);
			-moz-transform: translateX(10%) translateY(10%);
			-ms-transform: translateX(10%) translateY(10%);
			-o-transform: translateX(10%) translateY(10%);
			transform: translateX(10%) translateY(10%); } }