body.post-type-archive-wheel {
    .grid {
        .wheel {
            .entry-title {

                .char1,
                .char2 {
                    color: #404040 !important;
                    font-size: 2em !important;
                }

                .char3,
                .char4,
                .char5 {
                    color: #404040 !important;
                    font-weight: 700 !important;
                    margin-top: 0 !important;
                }
            }
        }
    }
}