body.post-type-archive-wheel {
    .grid {
        .wheel {
            .entry-title {

                .char1,
                .char2 {
                    color: #404040 !important;
                    font-size: 32px !important;
                }

                .char3,
                .char4,
                .char5,
                .char6,
                .char7,
                .char8,
                .char9,
                .char10 {
                    color: #404040 !important;
                    font-weight: 700 !important;
                    margin-top: 0 !important;
                }
            }
        }
    }
}