body.single-post {
    margin-top: 85px;

    .site-header {
		.tuv.dark {
			display: none;
		}
    }
    
    .post-container {
		padding: 10px 10px 10px 40px;
		width: 75%;
        height: 100%;
    }

    .sidebar-wrapper {
		width: 25%;
		height: 100%;
		padding: 10px 40px 10px 10px;
		
		@media (max-width: 819px) {
			display: none;
        }

        .widget-title {
			font-size: 14px;
			font-weight: 400;
			padding-bottom: 16px;
			letter-spacing: 2px;
			border-bottom: 1px solid #525252;
		}

		form {
			padding-top: 16px;
			display: flex;

			label {
				flex: 1;
			}

			.search-field {
				background: #f1f1f1;
				border: 1px solid #525252;
				padding: 5px 8px;
				width: 100%;
				border-radius: 3px 0 0 3px;
			}
	
			input[type="submit"] {
				border: 1px solid;
				border-color: #525252;
				border-radius: 0 3px 3px 0;
				background: #525252;
				color: #fff;
				font-size: 14px;
				line-height: 1;
                padding: .6em 1em .6em;
                justify-content: center;
                display: flex;
                align-items: center;
			}
		}

		.widget_archive {

			ul {
				margin: 0;
				list-style: none;
				padding-inline-start: 0;
				padding-top: 16px;

				a {
					text-decoration: none;
                    color: #909090;
                    font-size: 12px;
				}
			}
		}

		.custom-html-widget {
			padding-top: 16px;
		}

		section:not(:first-of-type) {
			padding-top: 16px;
		}
    }
}