#footer {

	&.dark {
		background: #000;

		.footer--wrapper {
			border-top: 1px solid #fff !important;
			border-bottom: 1px solid #fff !important;

			.footer--menu ul .menu-item a {
				color: #FFF;
			}
		}
	}
	
	.footer--wrapper {
		display: flex;
		align-items: center;

		border-top: 1px solid #000;
		border-bottom: 1px solid #000;

		@media (max-width: 760px) {
			border-top: 0;
			border-bottom: 0;
		}

		.footer--info {
			flex: 0 1 40%;
			background: #3E3E3E;
			padding: 2rem 4rem 2rem 8rem;

			@media (max-width: 760px) {
				padding: 3rem 20px;
				flex: 0 1 100%;
				margin: 2rem 0 0;
			}

			p, a {
				color: #929292;
				text-transform: uppercase;
				font-size: 10px;
				letter-spacing: 3px;
				font-weight: 100;
			}

			a {
				text-decoration: none;

				span {
					font-weight: 700;
					color: #ececec;
				}
			}
		}

		.footer--menu {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;

			@media (max-width: 760px) {
				display: none;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				display: flex;

				@media (max-width: 960px) {
					flex-direction: column;
				}

				.menu-item {
					text-transform: uppercase;
					padding: 1rem;
					font-weight: 700;

					a {
						color: #3e3e3e;
						text-decoration: none;
					}

				}
			}
		}

		.social--img {
			display: flex;
			background: #747374;
			height: 30px;
			padding: 8px;
			border-radius: 5px;
			transform: skew(-20deg);

			img {
				transform: skew(20deg);
			}

			&:not(:first-of-type) {
				margin-left: .5rem;
			}
		}
	}

	.copyright--wrapper {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 10px;
		color: #BBB;

		@media (max-width: 760px) {
			text-align: center;
		}
	}
}