.site-header {
	background: rgba(255,255,255,1);
	box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
	height: 85px;
	position: fixed;
	z-index: 99;
	top: 0;
	transition: top .3s ease-in-out;
	width: 100%;

	.site-branding {
		height: 100%;

		.custom-logo {
			@media (max-width: 400px) {
				max-width: 150px;
			}
		}
	}

	&.nav-up {
		top: -85px;
	}
}

.siteNavigation {
	display: flex;

}

.header-menu {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 2rem;
	display: none;

	@media (min-width: 1024px) {
		display: block;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;

		@media (max-width: 960px) {
			flex-direction: column;
		}

		li {
			text-transform: uppercase;
			padding: 1rem;
			font-weight: 700;

			a {
				color: #3e3e3e;
				text-decoration: none;
			}

		}
	}
}

.open-popup-link {
	padding-right: 2rem;
	display: flex;
	align-items: center;

	@media (min-width: 1024px) {
		padding-right: 0;
	}
}

#mobile-menu {
	outline: none;
	display: block;

	@media (min-width: 1024px) {
		display: none;
	}
}

.box-shadow-menu {
  position: relative;
	padding: .5rem 1rem;
	cursor: pointer;
}
.box-shadow-menu:before {
	cursor: pointer;
  content: "";
  position: absolute;
	left: 0;
	top: 6px;
	font-size: 35px;
  width: 1em;
  height: 0.15em;
  background: #111;
  box-shadow: 
    0 0.25em 0 0 #111,
    0 0.5em 0 0 #111;
}

#site-navigation-wrapper {
	position: fixed;
	right: 50%;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	background: rgba(25,25,25,0.98);
	overflow: hidden;

	#site-navigation ul {
		display: flex;
		flex-direction: column;
		text-align: center;

		li {
			text-transform: uppercase;
			padding: 1rem;
			letter-spacing: 3px;
			font-weight: 700;

			a {
				color: #fff;
			}
		}
	}

	.social--row {
		position: absolute;
    bottom: 5px;
    left: 15px;
	}

	.social--img {
		display: flex;
		background: #747374;
		height: 30px;
		padding: 8px;
		border-radius: 5px;
		transform: skew(-20deg);

		img {
			transform: skew(20deg);
		}

		&:not(:first-of-type) {
			margin-left: .5rem;
		}
	}

	.close {
		position: absolute;
    top: 2rem;
		right: 2rem;
		cursor: pointer;
		color: #fff;
		text-decoration: none;
	}

	#primary-menu {
		height: 100%;

		ul li a {
			color: #fff;
			text-transform: uppercase;
		}
	}
}