/*--------------------------------------------------------------
## Colors
--------------------------------------------------------------*/

.white {
  color: #fff;
}

.gray {
  color: #727477;
}

.dark-gray {
  color: #4a4a4a;
}