/*--------------------------------------------------------------
## Flex
--------------------------------------------------------------*/
.flex {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}

.justify-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
}

.justify-end {
  justify-content: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
}

.align-content-center {
  align-content: center;
}

.align-center {
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
}

.align-start {
  align-items: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
}

.align-end {
  align-items: flex-end;
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
}