/*--------------------------------------------------------------
## Padding
--------------------------------------------------------------*/

.p-r-1 {
  padding-right: 1vw;
}

.p-r-3 {
  padding-right: 3vw;
}

.p-r-5 {
  padding-right: 5vw;
}

.p-l-1 {
  padding-left: 1vw;
}

.p-l-3 {
  padding-left: 3vw;
}

.p-l-5 {
  padding-left: 5vw;
}

.p-t-1 {
  padding-top: 1vw;
}

.p-t-3 {
  padding-top: 3vw;
}

.p-t-5 {
  padding-top: 5vw;
}

.p-b-1 {
  padding-bottom: 1vw;
}

.p-b-3 {
  padding-bottom: 3vw;
}

.p-b-5 {
  padding-bottom: 5vw;
}

/*--------------------------------------------------------------
## Margin
--------------------------------------------------------------*/

.m-r-1 {
  margin-right: 1vw;
}

.m-r-3 {
  margin-right: 3vw;
}

.m-r-4 {
  margin-right: 4vw;
}

.m-r-5 {
  margin-right: 5vw;
}

.m-l-1 {
  margin-left: 1vw;
}

.m-l-3 {
  margin-left: 3vw;
}

.m-l-4 {
  margin-left: 4vw;
}

.m-l-5 {
  margin-left: 5vw;
}

.m-t-1 {
  margin-top: 1vw;
}

.m-t-2 {
  margin-top: 2vw;
}

.m-t-3 {
  margin-top: 3vw;
}

.m-t-4 {
  margin-top: 4vw;
}

.m-t-5 {
  margin-top: 5vw;
}

.m-b-1 {
  margin-bottom: 1vw;
}

.m-b-2 {
  margin-bottom: 2vw;
}

.m-b-3 {
  margin-bottom: 3vw;
}

.m-b-4 {
  margin-bottom: 4vw;
}

.m-b-5 {
  margin-bottom: 5vw;
}