body {
	margin: 0;
}

main {
	&.light {
		background: #FFFFFF;
	}

	&.dark {
		background: #000000;
	}
}

/*--------------------------------------------------------------
# Frontpage
--------------------------------------------------------------*/
@import "front/front-page";

/*--------------------------------------------------------------
# Wheel Collections
--------------------------------------------------------------*/
@import "collections/wheel-collections";

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
@import "contact/contact";

/*--------------------------------------------------------------
# Galleries
--------------------------------------------------------------*/
@import "gallery/gallery";

/*--------------------------------------------------------------
# Wheels
--------------------------------------------------------------*/
@import "wheels/wheels";

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
@import "blog/blog";