.slidecaption {
	position: absolute;
	bottom: 0;
	left: 4rem;
	background: rgba(25,25,25,0.8);
	padding: 3rem 1.5rem;
	width: 200px;
	text-transform: uppercase;

	h4 {
		color: #fff;
		font-weight: 400;
    font-size: 24px;
		line-height: 24px;
		margin-bottom: 1rem;
	}

	p {
		margin-bottom: 2.5em;
		color: rgba(255,255,255,.5);
		font-weight: 300;
		font-size: 12px;
		line-height: 13px;
    width: 50%;
	}

	a {
		display: flex;
    justify-content: center;
		align-items: center;
		background: #FF0200;
    padding: .5rem 0;
    color: #fff;
		font-size: 8px;
		font-weight: 300;
	}
}